body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.container {
    text-align: center;
}
.banner img{
    height: 200px;
}

.box {
    width: 700px;
    height: 700px;
    background-color: #fff;
    border: 2px solid #333;
    position: relative;
    overflow: hidden;
}

/* 영근이형 */
.yh {
    width: 48px;
    height: 48px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    transition: left 0.01s linear, top 0.01s linear;  /* 빠르게 이동 */
    user-select: none; /* 드래그 방지 */
}
